<div class="unique">
  <h1 id="logo">snifter</h1>  
<div>
  <video autoplay loop id="bgvid">
      <source src="/assets/whiskey.mp4" type="video/mp4">
  </video>
</div>
<div id="sign-in">
  <%= link_to "Sign In", sessions_sign_in_path %>
</div>
<div id="sign-up">
  <%= link_to "Sign Up", users_sign_up_path %>
</div>
</div>