// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unique {

}

#logo {
  font-family: 'Oswald', sans-serif;
  margin-left: 560px;
  font-size: 52px;
}

#sign-in {
  float: left;
  margin-left: 200px;
  font-size: 30px;
  border-bottom: 1px solid red;
  padding: 0px 15px;
}

#sign-up {
  float: right;
  margin-right: 200px;
  font-size: 30px;
  border-bottom: 1px solid red;
  padding: 0px 15px;
}

form {
  font-size: 30px;
}  